@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>

    <link href="~/css/stylehomepage.css" rel="stylesheet" />
    <!-- End layout styles -->
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
   
        <div class="container-fluid px-0">
            <div class="container-fluid-body">
                <div class="content-wrapper">

                    <div class="page-header">
                        <h3 class="page-title">


                          
                        </h3>
                    </div>

                    <div class="row">
                        <div class="col-md-4 stretch-card grid-margin">
                            <div class="card bg-gradient-danger card-img-holder text-white">
                                <div class="card-body" asp-controller="Product" asp-action="Create">
                                    <img src="~/lib/Images/circle.svg" class="card-img-absolute" alt="circle-image">
                                    <h4 class="font-weight-bold mb-3" style="text-align:center">Application 1</h4>
                                    <h3 class="mb-5" style="text-align:center">Start Recording </h3>
                                    <small class="card-text">Records :</small>
                                    <br />
                                    <small class="card-text">  -Products, SKUCodes, and CustomerCodes</small>
                                    <br />
                                    <small class="card-text">  -Error Messages associated with Products</small>
                                </div>
                            </div>
                        </div>
                  

                   
                        <div class="col-md-4 stretch-card grid-margin" >
                            <div class="card bg-gradient-info card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/lib/Images/circle.svg" class="card-img-absolute" alt="circle-image">
                                    <h4 class="font-weight-bold mb-3" style="text-align:center">
                                        Application 2
                                    </h4>
                                    <h3 class="font-weight-normal mb-5" style="text-align:center" >Edit Recordings</h3>
                                    <small class=" font-weight-light card-text">Edit:</small>
                                    <br />
                                    <small class=" font-weight-lighter card-text">   -Products, SKUCodes, and CustomerCodes</small>
                                    <br />
                                    <small class="font-weight-lighter card-text">  -Error Messages associated with Products:</small>
                                </div>
                            </div>
                        </div>
                    


                   
                        <div class="col-md-4 stretch-card grid-margin" >
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/lib/Images/circle.svg" class="card-img-absolute" alt="circle-image">
                                    <h4 class="font-weight-bold mb-3" style="text-align:center">
                                        Application 3
                                    </h4>
                                    <h3 class="mb-5" style="text-align:center">Start Production Line</h3>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->

    <!-- End custom js for this page -->

</body>



</html>
