@model IQA_RecordingApplication.Models.ProductViewModel

@{
    var x = Model.ProductTypes.Count();
    ViewData["Title"] = "Create";
}

<h3>Add Product & SKUCode:</h3>


<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">

            <div class="form-group">
                <a class="btn btn-outline-secondary btn-block" asp-action="Index">Back to Product List</a>
            </div>
                <div class="form-group">
                <label>Product Type</label>
                @*@Html.DropDownListFor(model => model.ProductTypeValue, new SelectList(Model.ProductTypes.Select(s=> new SelectListItem { Text=s.ProductTypeName,Value=s.ProductTypeId.ToString()})), new { @style = "width: 100%;" })*@

                <select id="ProductTypeId" name="ProductTypeValue" class="form-control">
                    @foreach (var item in Model.ProductTypes)
                    {
        <option value="@item.ProductTypeId.ToString()">@item.ProductTypeName</option>}
                </select>

                <span asp-validation-for="ProductTypeId" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" id="ProductName" aria-describedby="ProductName" placeholder="Name..."/>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label">Product Description</label>
                <textarea asp-for="ProductDescription" class="form-control" placeholder="Description..." type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SKUCode" class="control-label">SKU Code</label>
                <input asp-for="SKUCode" class="form-control" id="SKUCode" aria-describedby="SKUCode" placeholder="SKUCode..." />
                <span asp-validation-for="SKUCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tag" class="control-label">Add Tags</label>
                <input asp-for="Tag" class="form-control" aria-label="Sizing example input" type="text" data-role="tagsinput" aria-describedby="inputGroup-sizing-sm" placeholder="Tags..." />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit and Next" class="btn btn-primary btn-block" />
               
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
