@model IQA_RecordingApplication.Models.ProductTypeViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductTypeId" />
            <input type="hidden" asp-for="CreatedAt" />
            <input type="hidden" asp-for="UpdatedAt" />

            <div class="form-group">
                <label asp-for="ProductTypeName" class="control-label">Product Type Name</label>
                <input asp-for="ProductTypeName" class="form-control" />
                <span asp-validation-for="ProductTypeName" class="text-primary"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProductTypeDescription" class="control-label">Product Type Description</label>
                <input asp-for="ProductTypeDescription" class="form-control" />
                <span asp-validation-for="ProductTypeDescription" class="text-primary"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-success btn-block " /> <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

